spring:
  profiles:
    active: dev
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://search-credit-postgres:5432/search_credit_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

  kafka:
    bootstrap-servers: search-credit-kafka:9092
    consumer:
      group-id: search-credit-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    listener:
      missing-topics-fatal: false
    properties:
      spring.json.add.type.headers: false
    template:
      default-topic: consulta-creditos-topic

server:
  port: 8189
  compression:
    enabled: false
  http2:
    enabled: false

minio:
  endpoint: http://search-credit-minio:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: comprovantes
  url: http://localhost:9000
